* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background 0.3s;
}

/* Themes */
body.dark {
  background: #111;
  color: white;
}

body.light {
  background: #f4f4f4;
  color: black;
}

.player {
  width: 90%;
  max-width: 350px;
  background: #222;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

body.light .player {
  background: white;
}

#cover {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

.controls button,
.extra-controls button,
.theme-btn {
  font-size: 18px;
  padding: 8px;
  margin: 5px;
  cursor: pointer;
}

#progress,
#volume {
  width: 100%;
  margin: 8px 0;
}

#playlist {
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
}

#playlist li {
  padding: 6px;
  cursor: pointer;
  border-bottom: 1px solid #555;
}

#playlist li:hover {
  background: #444;
}

body.light #playlist li:hover {
  background: #ddd;
}

/* Mobile Friendly */
@media (max-width: 480px) {
  #cover {
    width: 150px;
    height: 150px;
  }
}
